 <div class="a"></div>
  <div class="b"></div>
  <div class="c"></div>
  <div class="d"></div>
  <div class="e"></div>
  <div class="f"></div>
<style>
  .a{
    width: 35px;
    height: 14px;
    border-radius: 20px / 10px;
    background-color:khaki;
    margin-left: 1px;
    position: relative;
    z-index: 3;
  }
  .b{
  display: block;
  width: 16px;
  height: 8px;
  background-color: red ;
  border-radius: 8px / 4px;
  box-shadow: 0px 1px 1px darkred;
  border-width: 1px;
  position: relative;
  left: 4px;
  top: -4px;
  z-index: 2;
}
.c {
  display: block;
  width: 8px;
  height: 4px;
  position: relative;
  left: 24px;
  top: -10px;
  background-color: green;
  border-radius: 4px / 2px;
  z-index: 2;
}
.d {
  display: block;
  width: 26px;
  height: 12px;
  position: relative;
  left: 5px;
  top: -18px;
  z-index: 1;
  background-color:yellow;
  transform: skewX(25deg);
}
.e {
  width: 36px;
  height: 14px;
  border-radius: 18px / 9px;
  background-color: rgb(100, 60, 60);
  z-index: 0;
  position: relative;
  top: -31px;
}
.f{
  width: 35px;
  height: 14px;
  border-radius: 20px / 10px;
  background-color: khaki;
  position: relative;
  top: -42px;
  z-index: -1;
}
</style>